* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.garage {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;  
  min-width: 320px;
  max-width: 90%;
  min-height: 100vh;
}

div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

nav {
  position: absolute;
  /* background-color: darkred;
  backdrop-filter: blur(1em); */
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

nav ul {
  display: flex;
  list-style-type: none;
  /* justify-content: center; */
}

nav li {
  /* justify-content: center; */
  
}

nav a {
  /* justify-content: center; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: auto;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.toggleButton {
  font-size: 1.3rem; 
}

.car-show {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

.car-details {
  display: flex;
  align-content: space-evenly;
  max-width: 90%;
  max-height: auto;
  overflow: hidden;
}

.car-comments-box {
  display: flex;
}

.car-comments {
  display: flex;
  flex-direction: column;
}

.car-comment-tools {
  display: flex;
  flex-direction: column;
}

.comment-box {
  display: flex;
  border: 2px solid red;
  padding: .5em;
}

.carImage {
  max-width: 90%;
  max-height: auto;
  overflow: hidden;
}

.carImage img {
  width: 100%;
  height: auto;
}

.car-list ul {
  list-style-type: none;
  padding: 0;
}

.car-item {
  display: flex;
  margin-bottom: 10px;
}

.car-item a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.car-thumbnail {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.car-item h2 {
  margin: 0;
  font-size: 1.2em;
}

.commment-box {
  background-color: slateblue;
  border: 2px solid black;
}
