@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Staatliches&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Staatliches, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-image: none; 
  --background-color: #242424;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s ease-in-out, background-color 0.2s ease-in-out;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none; 
  z-index: -1;
}

input {
  font-family: Geologica, sans-serif;
}

a {
  font-weight: 500;
  color: #ff6600;
  text-decoration: inherit;
}
a:hover {
  color: red;
}

.garage, .landing {
  width: 90vw;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.garage-header {
  display: flex;
  margin-bottom: 4%;

  button {
    margin-top: 1.5em;
    padding: .7em;
    background-color: transparent;
    font-size: small;
  }
}

.new-car-form {
  background-color: transparent;
  padding: 20px;
  border: solid darkslategray;
  border-radius: 5px;
  margin-bottom: 5vh;
}

.new-car-button {
  font-size: 1.5rem;
}

.new-car-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.new-car-form input {
  background-color: gray; 
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.new-car-form button {
  background-color: #333; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  cursor: pointer; 
}

.new-car-form button:hover {
  background-color: #444;
}

.new-car-form-buttons {
  display: flex;
  justify-content: space-between;
}

.toggleButton {
  color: #ff6600;
  &:hover {
    color: red;
  }
}

.new-garage-form {
  width: 50%
}

body {
  margin: 0;
  display: flex;  
  min-width: 320px;
  max-width: 90%;
  min-height: 100vh;


.garage-list {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 2% 3%;
  padding: 1%;
  border-radius: 25px;
  font-size: 1.5rem;
  list-style: none;
}
.garage-list li  {
  padding: 1%;
}
.garage-list li a {
  color: #ff6600;
}

.garage-list li a:hover {
  color: red;
}}

.dashboard, .profile {
  margin-top: 15%;
  width: 90vw;

  li {
    list-style-type: none;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  align-content: space-between;
  padding-top: 2%;
}

.profile li {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}

nav li {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: rgba(255, 255, 255, 0.87);
  border: none;
  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.car-show {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
}

.carImage {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.car-details, .car-list-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  max-height: auto;
  overflow: hidden;
  font-size: 1.5rem;
}
.car-details, .car-list-details button {
    outline-style: none;
    border: none;
    background-color: none;
  }


.car-list-details:hover {
  color: red;
}

.car-comments-box {
  display: flex;
  max-width: 90vw;
  border: solid darkslategray;
  padding: 15px;
}

.car-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  max-height: 40vh;
  overflow-x: hidden;
}

.car-comment-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: auto;
  word-break: break-word;
}

.car-comment-text {
  text-wrap: wrap;
  font-size: 1.5rem;
  font-family: Geologica, sans-serif;
}

.car-comment-tools {
  display: flex;
  flex-direction: column;
  width: 45vw;
  input, textarea {
    width: 90%;
    height: 6rem;
    font-size: 1.2rem;
  }
}


.car-comment-buttons {
  display: flex;
  flex-direction: column;
}

.car-comment-form button {
  font-size: 1.5rem;
}
.car-comment-form textarea {
  font-family: Geologica, sans-serif;
}

.comment-box {
  display: flex;
  border: 1px solid darkslategray;
  padding: .5em;
}

.comment-author {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-right: 3%;
}

.comment-author-post {
  font-size: .7rem;
}

.carImage img {
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.car-list ul {
  list-style-type: none;
  padding: 0;
}

.car-item {
  display: flex;
  margin-bottom: 10px;
}

.car-item a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.car-thumbnail {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.car-item h2 {
  margin: 0;
  font-size: 1.2em;
}

.commment-box {
  background-color: slateblue;
  border: 2px solid black;
}

.sign-in-up {
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 26, 26);
  border-radius: 25px;
  padding: 15%;
  margin: 70% auto;
  width: 20vw;
}

.sign-in-up input {
  width: 100%;
  margin: 1% 0 8% 0;
  color: white;
  background-color: rgb(88, 86, 86);
  font-size: 1.25rem;
  border: none;
}
.sign-in-up button {
  width: 100%;
  background-color: #ff6600;
  border: none;
  color: black;
  border-radius: 25px;
  margin: 3.5% 0;
  padding: 2%;
  font-size: 1.25rem;
}

.sign-in-up button:hover {
  color: red;
  cursor: pointer;
}

.sign-in-up div {
  flex-direction: column;
  margin-bottom: 15px;
}

.sign-in-up label {
  color: white;
  font-size: 1.25rem;
}

.sign-in-up h1 {
  margin-bottom: 10%;
}

.logo {
  width: 10vw;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 5vh;
  margin-left: 5vw;
}

@media screen and (max-width: 768px) {
  .sign-in-up {
    width:90%;
    margin: auto;
    margin-top: 10vh;
  }
  .logo {
    width: 25vw;
  }
}

