* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.garage {
  width: 90vw;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.garage-header {
  display: flex;
  margin-bottom: 4%;

  button {
    margin-top: 1.5em;
    padding: .7em;
    background-color: transparent;
    font-size: small;
  }
}

.new-car-form {
  background-color: transparent; /* Light grey background */
  padding: 20px;
  border: solid darkslategray;
  border-radius: 5px; /* Slightly rounded corners for the form */
  margin-bottom: 5vh;
}

.new-car-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block; /* Forces labels to be on new lines */
}

.new-car-form input {
  background-color: gray; /* White background for inputs */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 3px; /* Rounded corners for inputs */
  padding: 10px;
  margin-bottom: 15px;
  width: 100%; /* Make inputs full width */
}

.new-car-form button {
  background-color: #333; /* Dark grey button background */
  color: #fff; /* White text for button */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Rounded corners for buttons */
  padding: 10px 20px;
  cursor: pointer; /* Indicate clickable element */
}

.new-car-form button:hover {
  background-color: #444; /* Darker grey on hover */
}

.new-car-form-buttons {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  display: flex;  
  min-width: 320px;
  max-width: 90%;
  min-height: 100vh;
}

.dashboard, .profile {
  margin-top: 15%;
  width: 90vw;

  li {
    list-style-type: none;
  }
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

nav {
  position: absolute;
  /* background-color: darkred;
  backdrop-filter: blur(1em); */
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  align-content: space-between;
  padding-top: 2%;
}

nav ul {
  display: flex;
  width: 100%;
  list-style-type: none;  /* justify-content: center; */
}

nav li {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: rgba(255, 255, 255, 0.87);
  border: none;
  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.car-show {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
}

.carImage {
  max-width: 100%;
  max-height: auto;
}

.car-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  max-height: auto;
  overflow: hidden;
  font-size: 1.5rem;

  &button {
    outline-style: none;
    border: none;
    background-color: none;
  }
}

.car-comments-box {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 90vw;
  border: solid darkslategray;
  padding: 15px;
}

.car-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 40vh;
  overflow-x: hidden;
}

.car-comment-items {
  max-width: 55vw;
  overflow: auto;
  word-break: break-all;
}

.car-comment-text {
  text-wrap: wrap;
}

.car-comment-tools {
  display: flex;
  flex-direction: column;
  width: 45vw;
  input, textarea {
    width: 90%;
    height: 6rem;
    font-size: 1.2rem;
  } 
}

.comment-box {
  display: flex;
  border: 1px solid darkslategray;
  padding: .5em;
}

.comment-author {
  display: flex;
  align-items: center;
}

.carImage img {
  width: 90vw;
  height: auto;
}

.car-list ul {
  list-style-type: none;
  padding: 0;
}

.car-item {
  display: flex;
  margin-bottom: 10px;
}

.car-item a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.car-thumbnail {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.car-item h2 {
  margin: 0;
  font-size: 1.2em;
}

.commment-box {
  background-color: slateblue;
  border: 2px solid black;
}

.sign-in-up {
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 26, 26);
  border-radius: 25px;
  font-family: sans-serif;
  padding: 15%;
  margin: 75% auto;
}
.sign-in-up input {
  margin: 1% 0 8% 0;
  color: white;
}
.sign-in-up button {
  width: 100%;
  background-color: rgb(40, 182, 218);
  border: none;
  color: black;
  border-radius: 25px;
  font-family: sans-serif;
  margin: 3.5% 0;
}

.sign-in-up button:hover {
  color: aqua;
  cursor: pointer;
}

.sign-in-up div {
  flex-direction: column;
  margin-bottom: 15px;
}

.sign-in-up label {
  margin-bottom: 5px;
  color: white;
}
